.pace {
  pointer-events: none;
  user-select: none;

  &-inactive {
    display: none;
  }
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #fff;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}


.app-loading {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-loading .spinner {
  height: 100px;
  width: 100px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.v {

  &-leave-active,
  &-enter-active {
    transition: opacity 200ms ease-in-out;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-leave,
  &-enter-to {
    opacity: 1;
  }
}

.slide-leave-active,
.slide-enter-active {
  transition: opacity 200ms ease-in-out;
}

.slide-enter-to,
.slide-leave {
  opacity: 1;
  display: block;
}

.slide-enter,
.slid-leave-to {
  opacity: 0;
}

/*
.company-move {
  transition: all 600ms ease-in-out 50ms;
}
*/

.change {
  backface-visibility: hidden;
  z-index: 1;
}

.change-enter-active {
  transition: all 300ms ease-out;
}

.change-leave-active {
  transition: all 200ms ease-in;
  position: absolute;
  display: none;
  z-index: 0;
}

.change-enter,
.company-leave-to {
  opacity: 0;
}

.change-enter {
  // transform: scale(0.9);
  transform: translate(25%, 0);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 200ms ease-in;
  position: absolute;
  opacity: 0;
  z-index: 0;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.dropdown {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 350ms;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-image: linear-gradient(to top, white, rgba(white, 0));
  }

  &-enter,
  &-leave-to {
    opacity: 0
  }

  &-leave,
  &-enter-to {
    opacity: 1
  }

  &-enter-active,
  &-leave-active {
    position: absolute;
    width: 100%;
    transition: opacity 200ms ease-in-out;
  }

  &-enter-active {
    transition-delay: 100ms
  }
}

/* base */
/* moving */
.company-move {
  transition: all 600ms ease-in-out 50ms;
}

/* appearing */
.company-enter-active {
  transition: all 400ms ease-out;
}

/* disappearing */
.company-leave-active {
  transition: all 200ms ease-in;
  position: absolute;
  z-index: 0;
}

/* appear at / disappear to */
.company-enter,
.company-leave-to {
  opacity: 0;
}