$wod-white: #ffffff;
$wod-gray: #666666;
$wod-gray-0: #f3f3f3;
$wod-gray: #f6f6f6;
$wod-gray-2: #e6e8e1;
$wod-gray-3: #d4d6ce;
$wod-beige: #ebe8d6;
$wod-yellow: #fcc92e;
$wod-green: #4fa646;
$wod-forest: #11653a;
$wod-blue: #3274d2;
$wod-light-blue: #53b7da;
//
$form-border-color: #ccc;
$form-border__invalid: #ff6666;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
// default
$header-color: #f7f7f7;
$footer-color: #343a40;
$footer-bg-color: #f7f7f7;
$squash-green: #228b22;
$squash-blue: #1e90ff;
$forest-green: #26a726;
$brown-field: #a45424;
$midnight-blue: #0d1324;
$slate-gray: #72818f;
//
$shadow-color: rgba(0, 0, 0, 0.2);
$box-shadow: 0 0 5px $shadow-color;
// Shadows
$facebook: rgb(59, 89, 182);
$facebook-chatbot: #0084ff;
$instagram: #4e433c;
$youtube: #ff3333;
$whatsapp: #25d366;
//
@custom-media --mobile only screen and (max-width: #{em(599)});
//
@custom-media --tablet only screen and (min-width: #{em(600)});
@custom-media --laptop only screen and (min-width: #{em(900)});
@custom-media --desktop only screen and (min-width: #{em(1200)});
@custom-media --monitor only screen and (min-width: #{em(1600)});
//
@custom-media --breakpoint-xs only screen and (max-width: 599px);
@custom-media --breakpoint-sm only screen and (min-width: 599px);
@custom-media --breakpoint-md only screen and (min-width: 768px);
@custom-media --breakpoint-lg only screen and (min-width: 900px);
@custom-media --breakpoint-xl only screen and (min-width: 1200px);

@media (--monitor) {
  // styles here
}

//
@mixin for-mobile-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

//

@import "./base/nojs", "./base/mixins", "./base/base", "./base/typography",
  "./base/v-transitions", "./theme";
//

/*
This is a compiled file, you should be editing the file in the templates directory
*/

// material-icons
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}
